<script src="node_modules/leaflet-boundary-canvas/src/BoundaryCanvas.js"></script>
<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<div class="w3-container w3-teal">
  <div class="welcome">
    <h1>Како може да помогнеме?</h1>
    <pre></pre>
    <pre></pre>

  </div>

  <div class="button1">
    <button (click)="addParkingSpotMarker()" class="button1">Најди паркинг место</button>
  </div>
  <angular-weather-widget class="weather" [hidden]="true"
    [APIKEY]="'e1c149b903a27102c4b6ee74956254d0'"
    [width]="'380px'"
    [height]="'auto'"
    [backgroundColor]="'green'"
    [isBoxShadow]="true"
    [borderRadius]="'5px'"
    [locationFontSize]="'35px'"
    [locationFontColor]="'#fff'"
    [status]="true"
    [statusFontColor]="'#fff'"
    [statusFontSize]="'18px'"
    [temperature]="true"
    [tempratureFontColor]="'#fff'"
    [tempratureFontSize]="'75px'"
    [weatherImages]="true"
    [weatherImageWidth]="'110px'"
    [weatherImageHeight]="'110px'"
    [geoLocation]="true"
    [location]="'Skopje'"
    [isWind]="true"
    [windFontColor]="'#fff'"
    [windFontSize]="'17px'"
    [humidityFontColor]="'#fff'"
    [humidityFontSize]="'17px'">
  </angular-weather-widget>
  <pre></pre>
  <div class="button1">
    <button (click)="addFuelStationMarker()" class="button1">Најди бензинска станица</button>
  </div>
  <pre></pre>
  <div class="button1">
    <button (click)="addCarRentalMarker()" class="button1">Најди место за изнајмување на кола</button>
  </div>
  <pre></pre>

  <div class="button1">
    <button (click)="addBusMarker()" class="button1">Најди автобуска станица</button>
  </div>
  <pre></pre>
  <div class="button1">
    <button (click)="addPublicTransportMarker()" class="button1">Најди станица за јавен превоз</button>
  </div>
  <pre></pre>
  <div class="button2">
    <button (click)="clearMap()" class="button2">Clear Map</button>
  </div>
  <div class="button2">
    <button (click)="startMarker()" class="button2">Start Point</button>
  </div>
  <div class="button2">
    <button (click)="endMarker()" class="button2">End Point</button>
  </div>
  <div class="button2">
    <button (click)="locateMeMarker()" class="button2">locate Point</button>
  </div>
  <div class="weather">
    <button (click)= class="button2">Clear Map</button>
  </div>
  <pre></pre>
  <pre></pre>
  <pre></pre>
  <pre></pre>
  <pre></pre>
  <pre></pre>
  <pre></pre>
  <h5>Prototype 1.1</h5>
</div>


